source https://nuget.org/api/v2
storage:none

nuget FSharp.Core
nuget Fable.Core
nuget Fable.Browser.Dom
nuget Fable.Elmish.React
nuget Fable.Elmish.Browser
nuget Fable.Elmish.Debugger
nuget Thoth.Json

group Build
    source https://nuget.org/api/v2
    storage: true
    nuget FAKE